<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>OnlyEpicRequest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet</servlet-class>
    <init-param>
      <param-name>LoginName</param-name>
      <param-value>LoginValue</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>JSession</display-name>
    <servlet-name>JSession</servlet-name>
    <servlet-class>com.revature.session.JSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSession</servlet-name>
    <url-pattern>/JSession</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvailedSession</display-name>
    <servlet-name>InvailedSession</servlet-name>
    <servlet-class>com.revature.session.InvailedSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvailedSession</servlet-name>
    <url-pattern>/InvailedSession</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/somethingwentwrong.html</location>
  </error-page>
  <context-param>
    <param-name>someName</param-name>
    <param-value>someValue</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>com.revature.servlets.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutRequest</display-name>
    <servlet-name>PutRequest</servlet-name>
    <servlet-class>com.revature.servlets.PutRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutRequest</servlet-name>
    <url-pattern>/PutRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeRequest</display-name>
    <servlet-name>MakeRequest</servlet-name>
    <servlet-class>com.revature.servlets.MakeRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeRequest</servlet-name>
    <url-pattern>/MakeRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRequests</display-name>
    <servlet-name>GetRequests</servlet-name>
    <servlet-class>com.revature.servlets.GetRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRequests</servlet-name>
    <url-pattern>/GetRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertReimbursement</display-name>
    <servlet-name>InsertReimbursement</servlet-name>
    <servlet-class>com.revature.servlets.InsertReimbursement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertReimbursement</servlet-name>
    <url-pattern>/InsertReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeInfo</display-name>
    <servlet-name>GetEmployeeInfo</servlet-name>
    <servlet-class>com.revature.servlets.GetEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeInfo</servlet-name>
    <url-pattern>/GetEmployeeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEpmInfo</display-name>
    <servlet-name>UpdateEpmInfo</servlet-name>
    <servlet-class>com.revature.servlets.UpdateEpmInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEpmInfo</servlet-name>
    <url-pattern>/UpdateEpmInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceEmployeeInfo</display-name>
    <servlet-name>PlaceEmployeeInfo</servlet-name>
    <servlet-class>com.revature.servlets.PlaceEmployeeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceEmployeeInfo</servlet-name>
    <url-pattern>/employeeinfo</url-pattern>
  </servlet-mapping>
</web-app>